In [1]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install html5lib

import requests
!pip install bs4
from bs4 import BeautifulSoup

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!pip install geopy 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
#!pip install -U scikit-learn scipy matplotlib
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)
Libraries imported.

In [2]:
from pandas.io.html import read_html

link = 'https://en.wikipedia.org/wiki/Demographics_of_Toronto_neighbourhoods'

table = read_html(link, index_col=0, attrs={"class":"wikitable"})

print ("Extracted {num} wikitables".format(num=len(table)))

Extracted 1 wikitables

In [3]:
df=table[0]
df.reset_index(inplace=True)
df.head()

,Name,FM,Census Tracts,Population,Land area (km2),Density (people/km2),% Change in Population since 2001,Average Income,Transit Commuting %,% Renters,Second most common language (after English) by name,Second most common language (after English) by percentage,Map
0,Toronto CMA Average,NaN,All,5113149,5903.63,866,9.0,40704,10.6,11.4,NaN,NaN,NaN
1,Agincourt,S,"0377.01, 0377.02, 0377.03, 0377.04, 0378.02, 0...",44577,12.45,3580,4.6,25750,11.1,5.9,Cantonese (19.3%),19.3% Cantonese,NaN
2,Alderwood,E,"0211.00, 0212.00",11656,4.94,2360,-4.0,35239,8.8,8.5,Polish (6.2%),06.2% Polish,NaN
3,Alexandra Park,OCoT,0039.00,4355,0.32,13609,0.0,19687,13.8,28.0,Cantonese (17.9%),17.9% Cantonese,NaN
4,Allenby,OCoT,0140.00,2513,0.58,4333,-1.0,245592,5.2,3.4,Russian (1.4%),01.4% Russian,NaN

In [4]:
df=df[['Name','Population']]
df.head()

                  Name  Population
0  Toronto CMA Average     5113149
1            Agincourt       44577
2            Alderwood       11656
3       Alexandra Park        4355
4              Allenby        2513

In [5]:
df.shape

(175, 2)

In [6]:
df.rename(columns={'Name':'Neighbourhood'}, inplace=True)
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         Neighbourhood  Population
0  Toronto CMA Average     5113149
1            Agincourt       44577
2            Alderwood       11656
3       Alexandra Park        4355
4              Allenby        2513

In [7]:
df.drop(0,inplace=True)
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    Neighbourhood  Population
1       Agincourt       44577
2       Alderwood       11656
3  Alexandra Park        4355
4         Allenby        2513
5        Amesbury       17318

In [8]:
!conda install -c conda-forge geocoder --yes
import geocoder # import geocoder
print('Geocoder installation complete!')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Geocoder installation complete!

In [9]:
def get_coords(place):
    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        #print('get_coords for ',place)
        g = geocoder.arcgis(place)
        lat_lng_coords = g.latlng

    return lat_lng_coords[0], lat_lng_coords[1]

In [10]:
Latitude = []
Longitude = []

for nb in df['Neighbourhood']:
    lat, long = get_coords(nb + ', Toronto, Ontario')
    Latitude.append(lat)
    Longitude.append(long)
    
df["Latitude"] = Latitude
df["Longitude"] = Longitude

df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

    Neighbourhood  Population   Latitude  Longitude
1       Agincourt       44577  43.786260 -79.280840
2       Alderwood       11656  43.604960 -79.541160
3  Alexandra Park        4355  43.651090 -79.405500
4         Allenby        2513  43.712674 -79.547686
5        Amesbury       17318  43.702833 -79.481727

In [11]:
import requests # library to handle requests
import pandas as pd
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

In [12]:
CLIENT_ID = 'HAAILQSQ25431IPQ3OA2ZPTZ4NHNEW0YXIZK51TDFUSC13RF'
CLIENT_SECRET = 'RK5EXIWWNUMGRI1NDOIF4QL2TD0L13G34FZDD0DSHWEUVSPY'
VERSION = '20180605'
radius = 1000
LIMIT= 20
search_query = 'Supermarket'



def getNearbySupermarkets(lat, lng):
    
    Numb = []
    
    for lat, lng in zip(lat, lng):
                   
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, lat, lng, VERSION, search_query, radius, LIMIT)
        
        results = requests.get(url).json()
        
        venues = results['response']['venues']
        
        dataframe = pd.json_normalize(venues)
                
        try:
            Numb.append(dataframe['id'].count())
        
        except Exception:
            Numb.append (1)
        
    return(Numb)

In [13]:
df['Supermarkets']=getNearbySupermarkets(lat=df['Latitude'], lng=df['Longitude'])
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    Neighbourhood  Population   Latitude  Longitude  Supermarkets
1       Agincourt       44577  43.786260 -79.280840             1
2       Alderwood       11656  43.604960 -79.541160             1
3  Alexandra Park        4355  43.651090 -79.405500             8
4         Allenby        2513  43.712674 -79.547686             1
5        Amesbury       17318  43.702833 -79.481727             3

In [20]:
search_query_2 = 'Convenience Store'

def getNearbyConvenience(lat, lng):
    
    Numb = []
    
    for lat, lng in zip(lat, lng):
                   
        url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, lat, lng, VERSION, search_query_2, radius, LIMIT)
        
        results = requests.get(url).json()
        
        venues = results['response']['venues']
        
        dataframe = pd.json_normalize(venues)
                
        try:
            Numb.append(dataframe['id'].count())
        
        except Exception:
            Numb.append (1)
        
    return(Numb)

In [21]:
df['Convenience Stores']=getNearbyConvenience(lat=df['Latitude'], lng=df['Longitude'])
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Neighbourhood,Population,Latitude,Longitude,Supermarkets,Score,Convenience Stores
1,Agincourt,44577,43.786260,-79.280840,1,44577.000000,2
2,Alderwood,11656,43.604960,-79.541160,1,11656.000000,2
3,Alexandra Park,4355,43.651090,-79.405500,8,544.375000,20
4,Allenby,2513,43.712674,-79.547686,1,2513.000000,3
5,Amesbury,17318,43.702833,-79.481727,3,5772.666667,3

In [23]:
df.drop('Score', axis=1 ,inplace=True)
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Neighbourhood,Population,Latitude,Longitude,Supermarkets,Convenience Stores
1,Agincourt,44577,43.786260,-79.280840,1,2
2,Alderwood,11656,43.604960,-79.541160,1,2
3,Alexandra Park,4355,43.651090,-79.405500,8,20
4,Allenby,2513,43.712674,-79.547686,1,3
5,Amesbury,17318,43.702833,-79.481727,3,3

In [24]:
df['Total Competitors'] = df['Supermarkets'] + df['Convenience Stores']
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Neighbourhood,Population,Latitude,Longitude,Supermarkets,Convenience Stores,Total Competitors
1,Agincourt,44577,43.786260,-79.280840,1,2,3
2,Alderwood,11656,43.604960,-79.541160,1,2,3
3,Alexandra Park,4355,43.651090,-79.405500,8,20,28
4,Allenby,2513,43.712674,-79.547686,1,3,4
5,Amesbury,17318,43.702833,-79.481727,3,3,6

In [25]:
df['Score']=df['Population']/df['Total Competitors']
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Neighbourhood,Population,Latitude,Longitude,Supermarkets,Convenience Stores,Total Competitors,Score
1,Agincourt,44577,43.786260,-79.280840,1,2,3,14859.000000
2,Alderwood,11656,43.604960,-79.541160,1,2,3,3885.333333
3,Alexandra Park,4355,43.651090,-79.405500,8,20,28,155.535714
4,Allenby,2513,43.712674,-79.547686,1,3,4,628.250000
5,Amesbury,17318,43.702833,-79.481727,3,3,6,2886.333333

In [26]:
df.sort_values('Score', ascending=False,inplace=True)
df

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Neighbourhood,Population,Latitude,Longitude,Supermarkets,Convenience Stores,Total Competitors,Score
1,Agincourt,44577,43.786260,-79.280840,1,2,3,14859.000000
98,Malvern,44324,43.810230,-79.220380,2,1,3,14774.666667
168,Willowdale,43144,43.782270,-79.428130,1,2,3,14381.333333
102,Milliken,26272,43.823250,-79.277290,1,1,2,13136.000000
86,L'Amoreaux,45862,43.797300,-79.312220,1,3,4,11465.500000
131,Rouge,22724,43.807660,-79.174050,1,1,2,11362.000000
13,Bendale,28945,43.759630,-79.257390,1,2,3,9648.333333
50,Elia (Jane and Finch),48003,43.757262,-79.517709,2,3,5,9600.600000
59,Glen Park,18426,43.649560,-79.552270,1,1,2,9213.000000
44,Downsview,36613,43.720188,-79.499920,1,3,4,9153.250000
144,Sunnylea,17602,43.643016,-79.498345,1,1,2,8801.000000
172,York Mills,17564,43.746475,-79.391617,1,1,2,8782.000000
139,Smithfield,34996,43.631590,-79.485776,1,3,4,8749.000000
126,Richview,26053,43.684538,-79.516774,1,2,3,8684.333333
159,Victoria Village,17047,43.731540,-79.314280,1,1,2,8523.500000
75,Humber Valley Village,14453,43.641471,-79.492537,1,1,2,7226.500000
108,Newtonbrook,36046,43.787300,-79.409830,1,4,5,7209.200000
11,Bayview Woods – Steeles,13298,43.794850,-79.382220,1,1,2,6649.000000
113,Old East York,52220,43.696220,-79.332890,1,7,8,6527.500000
69,Highland Creek,12853,43.789480,-79.176140,1,1,2,6426.500000
63,Guildwood,12820,43.749530,-79.189920,1,1,2,6410.000000
112,O'Connor–Parkview,17740,43.708720,-79.306770,1,2,3,5913.333333
146,Tam O'Shanter – Sullivan,27235,43.782030,-79.305400,1,4,5,5447.000000
84,Kingsview Village,16254,43.702510,-79.572090,1,2,3,5418.000000
173,York University Heights,26140,43.759970,-79.485200,2,3,5,5228.000000
8,Bathurst Manor,14945,43.763780,-79.454770,1,2,3,4981.666667
170,Woburn,48507,43.767480,-79.228290,4,6,10,4850.700000
163,West Rouge,9300,43.807660,-79.174050,1,1,2,4650.000000
49,Eglinton East,22387,43.739680,-79.245540,1,4,5,4477.400000
152,The Kingsway,8780,43.650600,-79.507130,1,1,2,4390.000000
162,West Hill,25632,43.763430,-79.178200,1,5,6,4272.000000
106,Mount Dennis,21284,43.689100,-79.495520,1,4,5,4256.800000
74,Humber Summit,12766,43.760160,-79.558490,1,2,3,4255.333333
28,Clairville,8506,43.748030,-79.631220,1,1,2,4253.000000
24,Centennial,12565,43.783169,-79.148946,1,2,3,4188.333333
122,Port Union,12450,43.778970,-79.131090,1,2,3,4150.000000
99,Maple Leaf,20313,43.714620,-79.479780,1,4,5,4062.600000
2,Alderwood,11656,43.604960,-79.541160,1,2,3,3885.333333
48,Eatonville,19131,43.689581,-79.494762,1,4,5,3826.200000
105,Morningside,11472,43.782550,-79.205230,1,2,3,3824.000000
132,Rouge Hill,11167,43.787160,-79.132520,1,2,3,3722.333333
78,Humberwood,7319,43.725148,-79.621538,1,1,2,3659.500000
72,Humber Bay Shores,10775,43.626860,-79.476710,1,2,3,3591.666667
138,Silverthorn,17757,43.686339,-79.466540,1,4,5,3551.400000
142,Steeles,24696,43.812310,-79.321540,3,4,7,3528.000000
52,Fairbank,34121,43.700110,-79.449600,1,9,10,3412.100000
87,Lansing,10052,43.773851,-79.324032,1,2,3,3350.666667
120,Pleasant View,16615,43.788120,-79.334530,1,4,5,3323.000000
7,Banbury,6641,43.742259,-79.369022,1,1,2,3320.500000
41,Don Valley Village,29740,43.785580,-79.349860,1,8,9,3304.444444
10,Bayview Village,12280,43.777100,-79.379570,1,3,4,3070.000000
5,Amesbury,17318,43.702833,-79.481727,3,3,6,2886.333333
154,Thistletown,16790,43.733410,-79.549610,1,5,6,2798.333333
145,Swansea,11133,43.639446,-79.470554,1,3,4,2783.250000
34,Cricket Club,5504,43.830716,-79.224651,1,1,2,2752.000000
89,Lawrence Manor,13750,43.722940,-79.431160,1,4,5,2750.000000
12,Bedford Park,13749,43.728300,-79.399180,1,4,5,2749.800000
55,Flemingdon Park,21287,43.716310,-79.331710,1,7,8,2660.875000
115,Parkdale,28367,43.639130,-79.450730,1,10,11,2578.818182
155,Thorncliffe Park,17949,43.707320,-79.343530,1,6,7,2564.142857
143,Summerhill,5100,43.611850,-79.488738,1,1,2,2550.000000
167,Wexford,17844,43.750120,-79.299600,1,6,7,2549.142857
46,Earlscourt,17240,43.685279,-79.450825,1,6,7,2462.857143
85,Lambton,9654,43.682758,-79.490416,1,3,4,2413.500000
117,Parkwoods,26533,43.686575,-79.409993,1,10,11,2412.090909
40,Don Mills,21372,43.705680,-79.333858,2,7,9,2374.666667
151,The Junction,11391,43.812300,-79.340290,2,3,5,2278.200000
161,West Deane Park,4395,43.652970,-79.557420,1,1,2,2197.500000
136,Scarborough Village,12796,43.738650,-79.216990,1,5,6,2132.666667
77,Humbermede,14778,43.742840,-79.537460,1,6,7,2111.142857
30,Cliffcrest,14531,43.726420,-79.232970,1,6,7,2075.857143
81,Islington – Six Points,16508,43.634870,-79.530520,1,7,8,2063.500000
92,Ledbury Park,12360,43.726079,-79.423427,1,5,6,2060.000000
114,Old Mill/Baby Point,4010,43.651355,-79.491595,1,1,2,2005.000000
134,Scarborough Junction,25780,43.679789,-79.286771,1,12,13,1983.076923
79,Humewood–Cedarvale,27515,43.689420,-79.426980,2,12,14,1965.357143
111,Oakridge,13368,43.698830,-79.279120,1,6,7,1909.714286
80,Ionview,13025,43.736290,-79.273200,1,6,7,1860.714286
123,Princess Gardens,9288,43.771747,-79.397355,1,4,5,1857.600000
148,The Beaches,20416,43.674130,-79.296440,1,10,11,1856.000000
36,Davisville,23727,43.701750,-79.383520,1,12,13,1825.153846
158,Upper Beaches,19830,43.674130,-79.296440,1,10,11,1802.727273
42,Dorset Park,14189,43.755330,-79.277460,1,7,8,1773.625000
100,Markland Wood,10240,43.633910,-79.569480,1,5,6,1706.666667
47,East Danforth,21440,43.690666,-79.290799,3,10,13,1649.230769
166,Weston,16476,43.704400,-79.509340,5,5,10,1647.600000
135,Scarborough City Centre,16403,43.772200,-79.256660,1,9,10,1640.300000
96,Long Branch,9625,43.593540,-79.532750,1,5,6,1604.166667
56,Forest Hill,24056,43.689910,-79.424670,2,13,15,1603.733333
51,Eringate,8008,43.661689,-79.578259,1,4,5,1601.600000
91,Leaside,13876,43.700239,-79.351065,1,8,9,1541.777778
70,Hillcrest,18327,43.769954,-79.401083,1,11,12,1527.250000
68,High Park North,22746,43.657690,-79.464490,1,15,16,1421.625000
169,Wilson Heights,13732,43.737370,-79.434170,1,9,10,1373.200000
31,Cliffside,9386,43.703803,-79.250640,1,6,7,1340.857143
107,New Toronto,10455,43.601430,-79.509250,1,7,8,1306.875000
15,Bloor West Village,5175,43.650790,-79.477920,1,3,4,1293.750000
127,Riverdale,31007,43.673230,-79.341210,4,20,24,1291.958333
29,Clairlea,11104,43.716820,-79.299600,1,8,9,1233.777778
14,Birch Cliff,12266,43.684360,-79.275900,1,9,10,1226.600000
116,Parkway Forest,8498,43.771269,-79.340638,1,6,7,1214.000000
128,Rockcliffe–Smythe,4681,43.675250,-79.488640,1,3,4,1170.250000
73,Humber Heights,4674,43.652247,-79.486698,1,3,4,1168.500000
93,Leslieville,23567,43.660910,-79.340620,1,20,21,1122.238095
103,Mimico,14198,43.617290,-79.498850,1,12,13,1092.153846
76,Humberlea,4327,43.721510,-79.534010,1,3,4,1081.750000
60,Governor's Bridge/Bennington Heights,2112,43.690437,-79.368667,1,1,2,1056.000000
150,The Elms,9437,43.697282,-79.521426,4,5,9,1048.555556
37,Deer Park,15165,43.677970,-79.405970,1,14,15,1011.000000
104,Moore Park,4474,43.792550,-79.434460,2,3,5,894.800000
101,Maryvale,8800,43.750830,-79.307690,1,9,10,880.000000
133,Runnymede,4382,43.683410,-79.482910,1,4,5,876.400000
164,Westminster,16386,43.646946,-79.450499,2,17,19,862.421053
18,Bridle Path,1540,43.739406,-79.378136,1,1,2,770.000000
129,Roncesvalles,15996,43.644270,-79.442690,3,20,23,695.478261
65,Harbourfront / CityPlace,14368,43.638780,-79.383000,1,20,21,684.190476
21,Caribou Park,4097,43.719540,-79.421440,1,5,6,682.833333
33,Crescent Town,8157,43.694750,-79.295300,3,9,12,679.750000
141,St. James Town,14666,43.671100,-79.373590,2,20,22,666.636364
110,North York City Centre,10427,43.768260,-79.412630,2,14,16,651.687500
4,Allenby,2513,43.712674,-79.547686,1,3,4,628.250000
147,The Annex,15602,43.665520,-79.407320,5,20,25,624.080000
149,The Danforth,7849,43.690666,-79.290799,3,10,13,603.769231
62,Graydon Hall,4714,43.765221,-79.345595,1,7,8,589.250000
27,Church and Wellesley,13397,43.665696,-79.380932,3,20,23,582.478261
90,Lawrence Park,6653,43.725540,-79.402320,1,11,12,554.416667
6,Armour Heights,4384,43.736150,-79.426940,1,7,8,548.000000
71,Hoggs Hollow,3123,43.743894,-79.344786,1,5,6,520.500000
97,Lytton Park,6494,43.714720,-79.409850,1,12,13,499.538462
35,Davenport,8781,43.675436,-79.423536,2,16,18,487.833333
165,Westmount,5857,43.684482,-79.444479,3,10,13,450.538462
20,Cabbagetown,11120,43.666863,-79.371866,6,20,26,427.692308
125,Regent Park/Trefann Court,10387,43.659741,-79.361564,5,20,25,415.480000
160,Wallace Emerson,10338,43.667410,-79.438590,5,20,25,413.520000
45,Dufferin Grove,9875,43.655140,-79.437310,4,20,24,411.458333
118,Pelmo Park,4402,43.714160,-79.522080,3,8,11,400.181818
67,Henry Farm,2790,43.772290,-79.340860,1,6,7,398.571429
19,Brockton,9039,43.648763,-79.434484,3,20,23,393.000000
157,Trinity–Bellwoods,8687,43.650430,-79.415240,3,20,23,377.695652
130,Rosedale,7672,43.677070,-79.388980,1,20,21,365.333333
17,Branson,8017,43.669457,-79.444178,4,18,22,364.409091
43,Dovercourt Park,8497,43.665810,-79.432460,4,20,24,354.041667
61,Grange Park,9007,43.652250,-79.391360,7,20,27,333.592593
156,Toronto Islands,627,43.621030,-79.377150,1,1,2,313.500000
153,The Queensway,6207,43.638760,-79.446131,3,17,20,310.350000
58,Garden District,8240,43.657940,-79.375620,7,20,27,305.185185
94,Little Italy,7917,43.656940,-79.415660,6,20,26,304.500000
39,Distillery District/West Don Lands,6378,43.651600,-79.356090,1,20,21,303.714286
16,Bracondale Hill,5343,43.676302,-79.428026,2,16,18,296.833333
109,Niagara,6524,43.642850,-79.407900,2,20,22,296.545455
140,South Hill,6218,43.676523,-79.379219,1,20,21,296.095238
82,Junction Triangle,6666,43.660330,-79.447630,3,20,23,289.826087
174,Yorkville,6045,43.672250,-79.385690,1,20,21,287.857143
23,Casa Loma,3597,43.680780,-79.409490,1,12,13,276.692308
38,Discovery District,7262,43.658710,-79.390040,8,20,28,259.357143
22,Carleton Village,6544,43.663850,-79.369830,6,20,26,251.692308
119,Playter Estates,3968,43.678700,-79.355490,1,15,16,248.000000
25,Chaplin Estates,4906,43.702370,-79.401840,1,20,21,233.619048
171,Wychwood,4182,43.677340,-79.424970,2,16,18,232.333333
26,Christie Pits,5124,43.663260,-79.419830,3,20,23,222.782609
95,Little Portugal,5013,43.647550,-79.429050,3,20,23,217.956522
137,Seaton Village,5259,43.659915,-79.370033,6,20,26,202.269231
32,Corktown,4484,43.653568,-79.360513,3,20,23,194.956522
9,Bay Street Corridor,4787,43.657710,-79.386180,5,20,25,191.480000
64,Harbord Village,5906,43.662637,-79.404001,11,20,31,190.516129
88,Lawrence Heights,3769,43.723570,-79.437110,1,19,20,188.450000
66,Harwood,3375,43.703171,-79.385588,1,17,18,187.500000
57,Fort York/Liberty Village,3821,43.638669,-79.401194,1,20,21,181.952381
53,Fashion District,4642,43.644180,-79.398790,6,20,26,178.538462
3,Alexandra Park,4355,43.651090,-79.405500,8,20,28,155.535714
124,Regal Heights,2719,43.674609,-79.437045,3,17,20,135.950000
83,Kensington Market,3740,43.654320,-79.401900,8,20,28,133.571429
121,Port Lands,571,43.620006,-79.495467,1,13,14,40.785714
54,Financial District,548,43.647130,-79.380940,2,20,22,24.909091

In [ ]:
df.to_csv('')